server:
  error:
    include-message: always
    include-binding-errors: always
  port: 8081
app:
  storage:
    base-dir: ./uploads
    base-url: /uploads
    product:
      dir: products
      thumbnail-width: 300
      thumbnail-height: 300
    category:
      dir: categories
      thumbnail-width: 200
      thumbnail-height: 200

spring:
  datasource:
    url: jdbc:postgresql://aws-0-eu-central-1.pooler.supabase.com:5432/postgres
    username: postgres.qxyuokviqrgulvrrfcaj
    password: HL#dD*N&!FjjV9r
    hikari:
      auto-commit: false
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
  mail:
    host: localhost
    port: 1025
    username: hello
    password: hello

    properties:
      mail:
        smtp:
          ssl:
            trust: "*"
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
